html, body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: -moz-hidden-unscrollable;
}

@font-face {
    font-family: liberationSerif;
    src: url(./liberation-serif/LiberationSerif-Regular.ttf);
}

body{
    background-color: #e1d9c7;
    font-family: liberationSerif;
    src: url(./liberation-serif/LiberationSerif-Regular.ttf);
}
nav{
    padding: 20px 50px;
}
.Weather-info{
    display: flex;
    width: 100%;
    height: 85vh;
}

.Weather-i{
    height: 100%;
    width: 50%;
}

.Weather-img{
    overflow: hidden;
    padding-inline-start: 5%;
    margin-top: 150px;
}

.Weather-inf{
    padding: 50px;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
}

.City-name{
    font-size: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.Weather-temp{
    color: #5a5750;
    font-size: 100px;
}

.Weather-description{
    font-size: 20px;
    text-transform: capitalize;
    color: #5a5750;
}

.city-search{
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    background: #e1d9c7;
    box-shadow: inset 2px 2px 5px #bfb8a9, inset -3px -3px 6px #fffae5;
    color: #5a5750;
}