body {
    text-align: center;
    background-color:  #516070;
    background:  #ecefef ;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    50% {background-color:       #95a5a6 ;}
  }
  
  textarea {
    width: 30%;
    min-height: 240px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background:  #f2f4f4;
    outline: whitesmoke;
    font-family: Courier, sans-serif;
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  iframe {
    bottom: 0;
    position: relative;
    width: 94%;
    height: 35em;
    outline: whitesmoke;
    background-color:  #f2f4f4;
  }